body {
    margin: 0;
    color: white;
    background-color: #202731;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    /* viewport viewwidth */
    padding: 100px 20vw;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}
.pink {
    background-color: pink;
}

.brown {
    background-color: brown;
}

.grey {
    background-color: gray;
}

/* hard example */
.curve {
    background-color: aqua;
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}