/* Theme Variables */
:root {
  /* Existing variables */
  --navbar-height: 60px; /* Adjust based on your design */
}

/* Base Styles */
body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%; /* Adjust width as needed */
  max-width: 1200px; /* Maximum width of the app content */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation Bar */
.navbar {
  width: 100%; /* Navbar takes the full width of the .App container */
  height: var(--navbar-height);
  background-color: var(--navbar-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-brand {
  /* Styles for your brand/logo */
}

.navbar-user-info {
  /* Styles for user info section */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 10px; /* Adjust spacing between links */
}

.nav-links a {
  text-decoration: none;
  color: var(--text-inverse);
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--hover-text);
}

.btn-logout {
  /* Styles for logout button */
  margin-left: 20px; /* Adjust spacing */
  cursor: pointer;
}

/* Centering Page Content */
.main-content {
  flex-grow: 1;
  width: 100%; /* Adjust width as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
