@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', Arial, sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box  ;
}

body{
  background-color: #f0f2f5;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-center{
  text-align: center;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-1 {margin-top: 1rem;}
.mb-1 {margin-bottom: 1rem;}
.mt-2 {margin-top: 2rem;}
.mb-2 {margin-bottom: 2rem;}


/* B A S E  S T Y L E S */
h1, h2, h3, h4, h5, h6{
  color: #333
}

p {
  line-height: 1.6;
}

/* R E S P O N S I V E  D E S I G N */
@media only screen and (max-width: 768px){
  .my-calendar{
    padding: 15px;
  }
  .navbar {
    flex-direction: column;
  }
  .container {
    padding: 10px;
  }
  .time-slot {
    font-size: 14px;
  }
}

/* MY CALENDAR */

.my-calendar {
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0,0,0,0.1);
}

.calendar-container {
  margin-bottom: 20px;
}


.calendar-container .react-calendar {
  border: 1px solid #ddd;
  max-width: 90%;
  margin: auto;
  border-radius: 8px;
}
/* CALENDAR HEADER */
.calendar-container.react-calendar__navigation {
  background-color: #4caf50;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.calendar-container.react-calendar__month-view__days__day {
  border-radius: 50%;
  margin: 2px;
}

/* T I M E   S L O T S */
.time-slots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 10px;
  padding: 10px;
  list-style: none;
}


.time-slot {
  padding: 10px;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3sec ease-in-out, transform 0.2sec ease-in-out;
}



.time-slot:hover {
  background-color:#e0e0e0;
  transform: translateY(-2px);
}


.time-slot.selected {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

.about-container {
  background-color: #38a169;
  box-shadow: 0 2px 4px rgb(0,0,0,0.1);
}

/* C O N F I R M A T I O N  */

.confirmation-modal {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it's above other content */
}

.confirmation-modal p {
  margin-bottom: 20px;
}

.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 999; /* Ensure it's below the modal but above other content */
}

/* H O M E */
.home-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.home-header, .services, .about, .contact {
  margin-bottom: 40px;
}

.service-item {
  margin-bottom: 20px;
  background-color: #2a2c2e;
  padding: 20px;
  border-radius: 10px;
}

/* DELETE BUTTON */

.delete-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #282424;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #ff5252;
}