
/* Theme Variables */
:root {
  /* Existing variables */
  --navbar-height: 60px; /* Adjust based on your design */
  --font-size-base: 20px; /* Base font size */
  --font-size-large: 22px; /* Larger font size for navigation links */
  --navbar-link-spacing: 15px; /* Spacing between navbar links */
  --navbar-padding: 0 20px; /* Horizontal padding for navbar */
  --link-hover-effect: underline; /* Hover effect for links */
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #72849e;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Only if you want to center the entire app content */
  min-height: 100vh;
}

/* Navigation Bar */
.navbar {
  width: 100%; /* Navbar takes the full width of the .App container */
  height: var(--navbar-height);
  background-color: var(--navbar-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--navbar-padding);
  border: 1px solid #ccc; /* Add a border around the navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow for depth */
}


.navbar-brand {
  font-size: var(--font-size-large); /* Larger font for brand/logo */
  font-weight: bold; /* Make the brand/logo text bold */
}

.navbar-user-info {
  font-size: var(--font-size-base); /* Standard font size for user info */
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: var(--font-size-large); /* Larger font for navigation links */
}

.nav-links li {
  margin: 0 var(--navbar-link-spacing); /* Adjust spacing between links */
}

.nav-links a {
  text-decoration: none;
  color: var(--text-inverse);
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.nav-links a:hover {
  color: var(--hover-text);
  text-decoration: var(--link-hover-effect); /* Hover effect for links */
}

.btn-logout {
  padding: 5px 10px; /* Padding for logout button */
  background-color: var(--primary-color); /* Use primary color for button */
  color: var(--text-inverse);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-logout:hover {
  background-color: var(--hover-primary); /* Darken the button on hover */
}
